
@import url('https://fonts.googleapis.com/css?family=Song+Myung');

#contenido{
	width: 100%;
	height: auto;
	box-sizing: border-box;
	overflow: hidden;
	background-color: red;
}
#banner{
	margin-left: -20%;
}

#cabecera{
	overflow: hidden;
	background-size:100vw 100vh;
	background-color: red;
	
}
#texto1{
	position: absolute;
	top: 25%;
	color: #e67965;
	
}
#texto2{
	position: absolute;
	top: 17%;
	left: 70%;
	font-family: 'Poiret One', sans-serif;
	opacity: 0.7;
}
.titulo {
  color: #ffffff;
  font: normal 2em 'Dancing Script', sans-serif;
  text-shadow: 1px 1px 5px #000000;
  transition: 0.3s ease all;
}
 .titulo {
    font-size: 1.5em;
  }
.titulo{
	text-align: center;
	font-family: 'Poiret One', sans-serif;
}
.titulo:hover,
.titulo:focus,
.titulo:active {
  -webkit-background-clip: text;
  background-image: linear-gradient(
                      #ffffff 50%,
                      #ffffff 100%
                    );
  text-shadow: 0 0 15px #ffffff;
} 
.titulo{
	cursor: pointer;
}
/*Para las seccion de pedidos de los platos*/

@media(max-width:900px){
	#banner{
	margin-left: -60%;
	margin-top: 8%;
	}
	
	
}
@media(max-width:730px){
	#banner{
	margin-left: -140%;
	margin-top: 8%;
	}
	#texto2{
	position: absolute;
	top: 20%;
	left: 50%;
	font-family: 'Poiret One', sans-serif;
	opacity: 0.7;
	}
	
}
@media(max-width:550px){
	#banner{
	margin-left: -200%;
	margin-top: 8%;
	}
}
@media(max-width:480px){
	#banner{
	margin-left: -280%;
	margin-top: 8%;
	}
	#texto1{
	position: absolute;
	top: 20%;
	left: 25%;
	color: #e67965;
	}
	#texto2{
		position: absolute;
		top: 35%;
		left: 14%;
		font-family:'Song Myung', serif;
		opacity: 0.7;
	}
}
@media(max-width:350px){
	#banner{
	margin-left:0%;
	margin-top: 8%;
	}
}