body{
	margin: 0;
}
#contenido{
	width: 100%;
	height: 100%;
}
#map{
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	height: 600px;
	margin-top:10%;
	border: 4px solid #A80C00;
}
#cabecera{
	width: 30%;
	height: auto;
	margin-top: 1%;
	display: flex;
	flex-wrap: wrap;
}
/*titulo*/
.titulo{
	text-align: center;
	color: #A80C00;
	font: normal 1.5em 'Dancing Script', sans-serif;
}
.botonVer{
	margin-left: 3%;
	color: #fff;
	font: normal 1.5em 'Dancing Script', sans-serif;
	text-shadow: 4px 6px 6px #000000;
	transition: 0.3s ease all;
	background: #28A85E; 
	color: #fff;
	padding: 10px;
	cursor: pointer;
	margin-top: 1%;
}
#LocalesSelect{
	margin-left: 3%;
	color: #fff;
	font: normal 1.5em 'Dancing Script', sans-serif;
	text-shadow: 4px 6px 6px #000000;
	transition: 0.3s ease all;
	background: #28A85E; 
	color: #fff;
	padding: 10px;
	cursor: pointer;
	margin-top: 1%;
}
/****************boton**********************/
